.chat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto; 
    box-sizing: border-box; 
}


#chatBox {
    display: flex !important;
    flex-direction: column !important;
    width: 100%; 
    height: 80vh !important;
    max-width: 1200px !important;
    border: 1px solid #ddd !important;
    border-radius: 10px !important;
    background-color: #f9f9f9 !important;
    overflow: hidden !important;
    margin: 0 auto !important;
}

#chatMessages {
    flex: 1 !important;
    overflow-y: auto !important;
    padding: 10px !important;
    margin-bottom: 10px !important;
    display: flex !important;
    flex-direction: column !important;
}

.message {
    display: inline-block !important;
    padding: 8px !important;
    margin: 5px 0 !important;
    border-radius: 5px !important; 
    min-width: 40%; 
    max-width: 60%!important;
    word-wrap: break-word !important;
    
}

.message.system {
    text-align: center!important;
    color: #888!important;
    font-style: italic!important;
    background-color: #f9f9f9!important;
    border-left: 3px solid #ccc!important;
    padding: 10px!important;
    margin-left: auto!important;
    margin-right: auto!important;
    width: fit-content!important; 
    max-width: 80%!important; 
}


.message.sent {
    background-color: #D4AF37 !important;
    color: black !important;
    align-self: flex-end !important;
    margin-left: auto !important;
    text-align: left !important;
}

.message.received {
    background-color: #f1f1f1 !important;
    color: black !important;
    align-self: flex-start !important;
    margin-right: auto !important; 
    text-align: left !important;
}


.message p {
    margin: 0 !important;
    padding: 0 !important;
    white-space: pre-wrap !important;
}

.message small {
    font-size: 1rem !important;
    display: block !important;
    text-align: right !important;
}

.message.system {
    text-align: center;
    color: #888;
    font-style: italic;
    background-color: #f9f9f9;
    border-left: 3px solid #ccc;
    padding: 5px;
}


#chat-buttons {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    background-color: #fff !important;
    border-top: 1px solid #ddd !important;
}

#messageForm {
    display: flex !important;
    justify-content: space-between !important;
    position: relative !important;
    padding: 10px;
}

#messageInput {
    min-width: 400px;
    flex-grow: 1;
}

#closeChatForm {
    display: flex;
    align-items: center;
}

#messageInput:disabled {
    background-color: #f0f0f0; 
    cursor: not-allowed; 
}

#messageForm button:disabled,
#closeChatForm button:disabled {
    opacity: 0.6;
    pointer-events: none;
    cursor: not-allowed; 
}